@(user: User, video: Video)

<div class="item well span2">
    <video width="100%" controls>
        <source src="assets/uploads/@(video.id).webm" type='video/webm'>
        <source src="assets/uploads/@(video.id).mp4" type="video/mp4">
        Your browser does not support the HTML5 video.
    </video>
    <h4>@video.getTitle()</h4>
    <p>@video.getDescription()</p>
    <p>Earn @Application.centsToDollars(video.getPayout(user)) for watching</p>
    @if(video.findUser().equals(user)) {
        (<a href="@routes.Application.deleteVideo(video.getId())">Delete</a>)
    }
</div>