@(user: User, watchingVideo: WatchingVideo, form: Form[Index.VideoEndedInfo])

@main(user, "index") {
    <div class="jumbotron">
        <header>
            <hgroup>
                @if(watchingVideo!=null) {
                    <li data-video-id="@(watchingVideo.getVideo().getId())">
                        <p>
                            <video id="myVideo" autoplay controls preload="auto" width="320" height="240">
                                <source src="assets/uploads/@(watchingVideo.getVideo().getId()).webm" type='video/webm'>
                                <source src="assets/uploads/@(watchingVideo.getVideo().getId()).mp4" type='video/mp4'>
                                Your browser does not support the HTML5 video.
                            </video>
                        </p>
                        <h4>@watchingVideo.getVideo().getTitle()</h4>
                        <p>@watchingVideo.getVideo().getDescription()</p>
                    </li>
                    @helper.form(routes.Index.post(), 'id -> "myForm") {
                        <input type="hidden" name="videoId" value="@(watchingVideo.getVideo().getId())">
                    }
                } else {
                    You have already watched all paying videos
                }
            </hgroup>
        </header>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function() {
            document.getElementById('myVideo').removeAttribute("controls");
        });
        document.getElementById('myVideo').addEventListener('ended', onEnded, false);
        function onEnded(e) {
            if(!e) {e = window.event;}
            document.getElementById("myForm").submit();
        }
    </script>
}