@(user: User, activeClass: String)(content: Html)

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Adder</title>
        <meta name="author" content="Ray">
        <meta name="description" content="Adder">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap-responsive.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/main.css")">
        
        <style>
            @@media (min-width: 768px) {
                .col {margin-bottom: -99999px; padding-bottom: 99999px;}
                .col-base {margin-top: -15px;}
            }   
            @@media (max-width: 767px) {
                .row-fluid.base {display:none;}
            }
            .col-wrap{overflow: hidden;}
            input {max-width: 100%;}
            textarea {max-width: 100%;}
        </style>
        
        <script src="@routes.Assets.at("js/modernizr-2.6.2-respond-1.1.0.min.js")"></script>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="@routes.Assets.at("js/jquery-1.9.1.min.js")"><\/script>')</script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("js/main.js")"></script>
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <br><br><br><br>

        <div class="container">
            <div class="row">
                @if(user!=null) {
                    <div class="span9">
                        <ul class="nav nav-tabs ">
                            <li @if(activeClass.equals("index")) {class="active"}><a href="@routes.Application.index()">Home</a></li>
                            <li @if(activeClass.equals("myVideos")) {class="active"}><a href="@routes.Application.myVideos()">Videos</a></li>
                            <li @if(activeClass.equals("myProfile")) {class="active"})><a href="@routes.Application.myProfile()">Profile</a></li>
                            <li @if(activeClass.equals("login")) {class="active"})><a href="@routes.Login.logout()">Log out</a></li>
                        </ul>
                        
                    </div>
                } else {
                    <div class="span9 form-horizontal">
                        <form action="@routes.Login.readLoginForm()" method="post">
                            <input type="text" class="span3" name="username" placeholder="Username" maxlength=31>
                            <input type="password" class="span3" name="password" placeholder="Password" maxlength=31>
                            <button type="submit" class="btn btn-info">Log in</button>
                            <a class="btn btn-warning" href="@routes.Login.signup()">Sign up</a>
                        </form>
                    </div>
                }
                <div class="span3" style="height: 30px; line-height: 30px;">
                    @if(flash.contains("success")) {@flash.get("success")}
                    @if(flash.contains("failure")) {@flash.get("failure")}
                </div>
            </div>
            
            @content
            
            <div class="footer">
                <p>by Ray</p>
            </div>      
        </div>
        
        <!-- /container -->

    </body>
</html>
