@(user: User, form: Form[Application.UploadVideoForm])

@main(user, "myVideos") {
    <div class="row-fluid col-wrap">            
        <div class="span4 col well">
            <h4>Upload video</h4>
            <form action="@routes.Application.readUploadVideoForm()" method="post" enctype="multipart/form-data">
                <p><input type="file" name="file" placeholder="Select file"></p>
                <p><input type="text" name="title" placeholder="Title" value="@form("title").value" maxlength=63></p>
                <p><textarea rows="6" name="description" placeholder="Description" maxlength=255>@(form("description").value)</textarea></p>
                <p><textarea rows="6" name="payFormula" placeholder="Pay formula" maxlength=255>@(form("payFormula").value)</textarea></p>
                <p><button type="submit" class="btn btn-primary">Upload</button></p>
            </form>
        </div>
        <div class="span8 col well">
            @user.videos.map {video => @views.html.videos.item(user,video)}
        </div>
    </div>
    <div class="row-fluid base col-wrap">
        <div class="span4 col-base well"></div>
        <div class="span8 col-base well"></div>
    </div>
}