@(form: Form[Signup.SignupForm])

@main(null, "signup") {
    <div class="row">
        <div class="span12 well">
            <form action="@routes.Signup.post()" method="post">
                <div class="row"><div class="span12 text-center"><strong>Required fields:</strong></div></div>
                <br>
                <div class="row">
                    <div class="span4 offset1">Email:</div>
                    <div class="span3">Password:</div>
                </div>
                <div class="row">
                    <div class="span4 offset1"><input class="span4" type="email" id="email" name="email" placeholder="Email" value="@form("email").value" pattern=".{1,63}"></div>
                    <div class="span3"><input class="span3" type="password" id="password" name="password" placeholder="Password" pattern=".{6,31}"></div>
                    <div class="span3"><input class="span3" type="password" id="passwordRepeat" name="passwordRepeat" placeholder="Repeat password" pattern=".{6,31}"></div>
                </div>
                <br>
                <div class="row"><div class="span12 text-center"><strong>Optional fields *:</strong></div></div>
                <br>
                <div class="row"><div class="span5 offset1">Occupations:</div></div>
                @defining(Occupation.findAll()) {occupations =>
                    <div class="row">
                        <div class="span5 offset1"><select class="span5 occupation" id="occupation1" name="occupation1"><option value="-1"></option>@occupations.map {occupation => <option value="@occupation.getId()" @if(occupation.getId().toString().equals(form("occupation1").value)) {selected}>@occupation.getName()</option>}</select></div>
                        <div class="span5"><select class="span5 occupation" id="occupation2" name="occupation2"><option value="-1"></option>@occupations.map {occupation => <option value="@occupation.getId()" @if(occupation.getId().toString().equals(form("occupation2").value)) {selected}>@occupation.getName()</option>}</select></div>
                    </div>
                }
                <div class="row">
                    <div class="span2 offset1">Age:</div>
                    <div class="span2">Zip code:</div>
                    <div class="span2">Gender:</div>
                    <div class="span4">Interests:</div>
                </div>
                @defining(Interest.findAll()) {interests =>
                    <div class="row">
                        <div class="span2 offset1"><input class="span2" type="number" id="age" name="age" placeholder="Age" maxlength="3" min="0" max="999" value="@form("age").value"></div>
                        <div class="span2"><input class="span2" type="text" id="zipCode" name="zipCode" placeholder="Zip code" maxlength="5" value="@form("zipCode").value" autocomplete="off"></div>
                        <div class="span1"><label class="radio inline" id="male"><input type="radio" name="gender" value="M" @if(form("gender").value=="M") {checked}><img src="assets/img/male.png" width="15px"></label></div>
                        <div class="span1"><label class="radio inline" id="female"><input type="radio" name="gender" value="F" @if(form("gender").value=="F") {checked}><img src="assets/img/female.png" width="15px"></label></div>
                        <div class="span4"><select class="span4 interest" id="interest1" name="interest1"><option value="-1"></option>@interests.map {interest => <option value="@interest.getId()" @if(interest.getId().toString().equals(form("interest1").value)) {selected}>@interest.getName()</option>}</select></div>
                    </div>
                    <div class="row">
                        <div class="span4 offset7"><select class="span4 interest" id="interest2" name="interest2"><option value="-1"></option>@interests.map {interest => <option value="@interest.getId()" @if(interest.getId().toString().equals(form("interest2").value)) {selected}>@interest.getName()</option>}</select></div>
                    </div>
                    <div class="row">
                        <div class="span4 offset7"><select class="span4 interest" id="interest3" name="interest3"><option value="-1"></option>@interests.map {interest => <option value="@interest.getId()" @if(interest.getId().toString().equals(form("interest3").value)) {selected}>@interest.getName()</option>}</select></div>
                    </div>
                    <div class="row">
                        <div class="span4 offset7"><select class="span4 interest" id="interest4" name="interest4"><option value="-1"></option>@interests.map {interest => <option value="@interest.getId()" @if(interest.getId().toString().equals(form("interest4").value)) {selected}>@interest.getName()</option>}</select></div>
                    </div>
                }
                <div class="row"><div class="span12 text-center"><i>* Optional fields help match you with higher-paying videos!</i></div></div>
                <div class="row"><div class="span12 text-center"><button type="submit" class="btn btn-large btn-success">Submit</button></div></div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $.getJSON("@routes.Assets.at("data/Zips.json")", function(data) {
            var zipCodes = [];
            $.each(data, function(i, item) {zipCodes.push(item);});
            $('#zipCode')
                .typeahead({source: zipCodes, items: 10})
                .blur(function() {if($.inArray($(this).val(), zipCodes) == -1) {$('#zipCode').val('');}});
        });
        
    	$('#email').tooltip({placement: "bottom", title: "Must be between 1 and 63 characters."})
    	$('#password').tooltip({placement: "bottom", title: "Must be between 6 and 31 characters."})
    	$('#passwordRepeat').tooltip({placement: "bottom", title: "Must be between 6 and 31 characters."})
    	$('#age').tooltip({placement: "bottom", title: "Match with videos for your age group."})
    	$('#zipCode').tooltip({placement: "bottom", title: "Match with videos in your area."})
    	$('#male').tooltip({placement: "bottom", title: "Match you with videos for guys."})
    	$('#female').tooltip({placement: "bottom", title: "Match you with videos for gals."})
    	$('.occupation').tooltip({placement: "bottom", title: "Match with videos related to your job."})
    	$('.interest').tooltip({placement: "bottom", title: "Match with videos about your interests."})
    </script>
}