@(form: Form[Signup.SignupForm])

@main(null, "signup") {
    <div class="row">
        <div class="span12 well">
            <form action="@routes.Signup.post()" method="post">
                <div class="row"><div class="span12 text-center"><strong>Required fields:</strong></div></div>
                <div class="row">
                    <div class="span3 offset2"><input class="span3" type="text" id="username" name="username" placeholder="Username" value="@form("username").value" pattern=".{1,31}"></div>
                    <div class="span3"><input class="span3" type="password" id="password" name="password" placeholder="Password" pattern=".{6,31}"></div>
                    <div class="span3"><input class="span3" type="password" id="passwordRepeat" name="passwordRepeat" placeholder="Repeat password" pattern=".{6,31}"></div>
                </div>
                <div class="row">
                    <div class="span5 offset2"><input class="span5" type="email" id="email" name="email" placeholder="Email" value="@form("email").value" pattern=".{1,63}"></div>
                </div>
                <br>
                <div class="row"><div class="span12 text-center"><strong>Optional fields: *</strong></div></div>
                <div class="row">
                    <div class="span2 offset2"><input class="span2" type="number" id="age" name="age" placeholder="Age" maxlength="3" min="0" max="999" value="@form("age").value"></div>
                    <div class="span2"><input class="span2" type="text" id="zip" name="zip" placeholder="Zip code" maxlength="5" value="@form("zip").value"></div>
                    <div class="span1"><label class="radio inline" id="male"><input type="radio" name="gender" value="M" @if(form("gender").value=="M") {checked}><img src="assets/img/male.png"></label></div>
                    <div class="span1"><label class="radio inline" id="female"><input type="radio" name="gender" value="F" @if(form("gender").value=="F") {checked}><img src="assets/img/female.png"></label></div>
                </div>
                @defining(Occupation.findAll()) {occupations =>
                    <div class="row">
                        <div class="span2 text-right">Occupations:</div>
                        <div class="span7"><select class="span7 occupation" name="occupation1"><option value="-1"></option>@occupations.map {occupation => <option value="@occupation.id" @if(form("occupation1").value==occupation.id) {selected}>@occupation.name</option>}</select></div>
                    </div>
                    <div class="row">
                        <div class="span7 offset2"><select class="span7 occupation" name="occupation2"><option value="-1"></option>@occupations.map {occupation => <option value="@occupation.id" @if(form("occupation2").value==occupation.id) {selected}>@occupation.name</option>}</select></div>
                    </div>
                }
                @defining(Interest.findAll()) {interests =>
                    <div class="row">
                        <div class="span2 text-right">Interests:</div>
                        <div class="span4"><select class="span4 interest" name="interest1"><option value="-1"></option>@interests.map {interest => <option value="@interest.id" @if(form("interest1").value==interest.id) {selected}>@interest.name</option>}</select></div>
                        <div class="span4"><select class="span4 interest" name="interest2"><option value="-1"></option>@interests.map {interest => <option value="@interest.id" @if(form("interest2").value==interest.id) {selected}>@interest.name</option>}</select></div>
                    </div>
                    <div class="row">
                        <div class="span4 offset2"><select class="span4 interest" name="interest3"><option value="-1"></option>@interests.map {interest => <option value="@interest.id" @if(form("interest3").value==interest.id) {selected}>@interest.name</option>}</select></div>
                        <div class="span4"><select class="span4 interest" name="interest4"><option value="-1"></option>@interests.map {interest => <option value="@interest.id" @if(form("interest4").value==interest.id) {selected}>@interest.name</option>}</select></div>
                    </div>
                }
                <p class="text-center"><i>* Optional fields help match you with higher-paying videos!</i><p>
                <p class="text-center"><button type="submit" class="btn btn-large btn-success">Submit</button></p>
            </form>
        </div>
    </div>
    <script type="text/javascript">
    	$('#username').tooltip({placement: "top", title: "Must be between 1 and 31 characters."})
    	$('#email').tooltip({placement: "top", title: "Must be between 1 and 63 characters."})
    	$('#password').tooltip({placement: "top", title: "Must be between 6 and 31 characters."})
    	$('#passwordRepeat').tooltip({placement: "top", title: "Must be between 6 and 31 characters."})
    	$('#age').tooltip({placement: "top", title: "Match with videos for your age group."})
    	$('#zip').tooltip({placement: "top", title: "Match with videos in your area."})
    	$('#male').tooltip({placement: "top", title: "Match you with videos for guys."})
    	$('#female').tooltip({placement: "top", title: "Match you with videos for gals."})
    	$('.occupation').tooltip({placement: "top", title: "Match with videos related to your job."})
    	$('.interest').tooltip({placement: "top", title: "Match with videos about your interests."})
    </script>
}