@(user: User, form: Form[Application.VideoEndedForm])

@main(user, "index") {
    <div class="row-fluid">
        <div class="span12 well">
            @if(user.watchingVideo!=null) {
                @defining(user.watchingVideo) {video =>
                 <video id="myVideo" autoplay controls preload="auto" width="320" height="240">
                     <source src="@routes.Assets.at("uploads/"+video.id+".webm")" type='video/webm'>
                     <source src="@routes.Assets.at("uploads/"+video.id+".mp4")" type='video/mp4'>
                     Your browser does not support the HTML5 video.
                 </video>
                 <h4>@video.title</h4>
                 <p>@video.description</p>
                 <form action="@routes.Application.readVideoEndedForm()" method="post" id="videoEndedForm">
                     <input type="hidden" name="videoId" value="@(video.id)">
                     <button type="submit" id="videoEndedButton" class="btn btn-success" disabled>Next (Earn @(Application.centsToDollars(user.watchingPayout))) <i class="icon-play icon-white"></i></button>
                 </form>
                }
            } else {
                <p>You have already watched all paying videos</p>
            }
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 well">
            @user.financialInstitutionLogins.map {financialInstitutionLogin =>
                @financialInstitutionLogin.loginChallenges.map {loginChallenge =>
                    @if(loginChallenge.answer==null) {
                        <h4>Your credit card accounts require confirmation</h4>
                        <p>@loginChallenge.challengeQuestion.value</p>
                        <form action="@routes.Application.readChallengeAnswerForm()" method="post" id="challengeAnswerForm">
                            <input type="hidden" name="id" value="@loginChallenge.id">
                            <input type="text" name="answer" placeholder="Enter your answer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    }
                }
            }
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function() {
            document.getElementById('myVideo').removeAttribute("controls");
        });
        document.getElementById('myVideo').addEventListener('ended', onEnded, false);
        function onEnded(e) {
            if(!e) {e = window.event;}
            document.getElementById("videoEndedButton").removeAttribute("disabled");
            //document.getElementById("myForm").submit();
        }
    </script>
}