@(user: User, uploadVideoForm: Form[Application.UploadVideoForm])

@main(user, "myVideos") {
    <div class="row-fluid">            
        <div class="span12 well">
            <h4>Upload video</h4>
            <form id="myForm" action="@routes.Application.readUploadVideoForm()" method="post" enctype="multipart/form-data">
                <p><input type="file" name="file" placeholder="Select file"></p>
                <p><input type="text" name="title" placeholder="Title" value="@uploadVideoForm("title").value" maxlength=63></p>
                <p><textarea rows="6" name="description" placeholder="Description" maxlength=255>@uploadVideoForm("description").value</textarea></p>
                <div id="formulas">
                </div>
                <a class="addFormula btn btn-success">Add another formula</a>
                <p><button type="submit" class="btn btn-primary">Upload</button></p>
            </form>
            <div class="formula-template" hidden>
                <a class="removeFormula btn btn-danger pull-right">Remove this formula</a>
                <input type="text" name="conditions[x]" placeholder="Condition formula">
                <input type="text" name="results[x]" placeholder="Payout formula">
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 well">
            @user.videos.map {video => @views.html.videoItem(user,video)}
        </div>
    </div>
    <script type="text/javascript">
    	$('.removeFormula').on('click', function(e) {
    		$(this).parents('.formula-clone').remove();
    		renumber();
        });
        $('.addFormula').on('click', function(e) {
            $('.formula-template').clone(true).removeClass('formula-template').addClass('formula-clone').appendTo('#formulas').show();
    		renumber();
        });
        $('#myForm').submit(function() {
            $('.formula-template').remove();
        });
        var renumber = function() {
            $('.formula-clone').each(function(i) {
                $('input', this).each(function() {
                	$(this).attr('name', $(this).attr('name').replace(/conditions\[.+?\]/g, 'conditions[' + i + ']'));
                	$(this).attr('name', $(this).attr('name').replace(/results\[.+?\]/g, 'results[' + i + ']'));
            	});
        	});
        }
        
    </script>
}